<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
</head>

<body>

    <form>
        <fieldset>
            <legend>service</legend>
            <ul>
                <li>
                    <label><input id="service-is-enabled-google" type="checkbox" />google</label>
                    <ul>
                        <li><label>count: <input id="service-google-search-count" type="number" min="10" max="100" step="10" /></label></li>
                    </ul>
                </li>
            </ul>
        </fieldset>

        <fieldset>
            <legend>[not] word or host</legend>
            <table>
                <thead>
                    <tr>
                        <th>word</th>
                        <th>enabled</th>
                        <th>remove</th>
                    </tr>
                </thead>
                <tbody id="not-word-list">
                    <!-- script -->
                </tbody>
                <tfoot>
                    <tr>
                        <th><input id="input-not-word" /></th>
                        <th>
                            <ul>
                                <li><label><input id="input-is-enabled-google" type="checkbox" checked />google</label></li>
                            </ul>
                        </th>
                        <th><button id="command-add-not-item" type="button">add</button></th>
                    </tr>
                </tfoot>
            </table>
        </fieldset>
        <button type="submit">save</button>
    </form>

    <script src="../scripts/common.js"></script>
    <script src="../scripts/options.js"></script>

</body>

</html>
