<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <link rel='stylesheet' href='../style/style.css' />
</head>

<body>

    <form>
        <fieldset>
            <legend>service</legend>
            <ul>
                <li>
                    <label><input id="service-is-enabled-google" type="checkbox" />google</label>
                    <table>
                        <tr>
                            <td><label for="service-google-search-count">count</label></td>
                            <td><input id="service-google-search-count" type="number" min="10" max="100" step="10" /></td>
                        </tr>
                        <tr>
                            <td>safe</td>
                            <td><label><input id="service-google-search-safe" type="checkbox" />enabled</label></label></td>
                        </tr>
                    </table>
                </li>
                <li>
                    <label><input id="service-is-enabled-bing" type="checkbox" />bing</label>
                    <!--
                        <ul>
                            <li><label>count: <input id="service-bing-search-count" type="number" min="10" max="100" step="10" /></label></li>
                        </ul>
                        -->
                </li>
            </ul>
        </fieldset>

        <fieldset>
            <legend>[engine] not word or host</legend>
            <table>
                <thead>
                    <tr>
                        <th>word</th>
                        <th>enabled</th>
                        <th>remove</th>
                    </tr>
                </thead>
                <tbody id="engine-not-word-list">
                    <!-- script -->
                </tbody>
                <tfoot>
                    <tr>
                        <th><input id="engine-input-not-word" /></th>
                        <th>
                            <ul class="horizontal">
                                <li><label><input id="engine-input-is-enabled-google" type="checkbox" checked />google</label></li>
                                <li><label><input id="engine-input-is-enabled-bing" type="checkbox" checked />bing</label></li>
                            </ul>
                        </th>
                        <th><button id="command-engine-add-not-item" type="button">add</button></th>
                    </tr>
                </tfoot>
            </table>
        </fieldset>

        <fieldset>
            <legend>[view] hide host</legend>
            <table>
                <thead>
                    <tr>
                        <th>host</th>
                        <th>match</th>
                        <th>enabled</th>
                        <th>remove</th>
                    </tr>
                </thead>
                <tbody id="view-hide-host-list">
                    <!-- script -->
                </tbody>
                <tfoot>
                    <tr>
                        <th><input id="view-input-hide-host" /></th>
                        <th>
                            <ul class="horizontal">
                                <li>
                                    <select id="view-input-hide-match-kind">
                                        <option id="view-input-hide-match-kind-partial" value="partial" checked >partial</option>
                                        <option id="view-input-hide-match-kind-forward" value="forward" checked >forward</option>
                                        <option id="view-input-hide-match-kind-perfect" value="perfect">perfect</option>
                                        <option id="view-input-hide-match-kind-regex"   value="regex">regex</option>
                                    </select>
                                </li>
                                <li><label><input id="view-input-hide-match-case" type="checkbox" checked />case</label></li>
                            </ul>
                        </th>
                        <th>
                            <ul class="horizontal">
                                <li><label><input id="view-input-is-enabled-google" type="checkbox" checked />google</label></li>
                                <li><label><input id="view-input-is-enabled-bing" type="checkbox" checked />bing</label></li>
                            </ul>
                        </th>
                        <th><button id="command-view-add-hide-item" type="button">add</button></th>
                    </tr>
                </tfoot>
            </table>
        </fieldset>

        <button type="submit">save</button>
    </form>

    <script src="../script/common.js"></script>
    <script src="../script/options.js"></script>

</body>

</html>
