doctype html
html
  head
    meta(charset="utf-8")
    link(rel="stylesheet" href="../style/options.scss")
  body
    form.setting.WE___search-hook-_-_-locale-root
      include options/service.pug
      include options/not-items.pug
      include options/hide-items.pug
      include options/delivery-hide-items.pug
      include options/whitelist.pug

      button(type="submit" data-locale="optionsSave") [保存]

    include options/imp-exp.pug

    script(src="../script/options/options.loader.ts")
