details.impexp.WE___search-hook-_-_-locale-root
  summary(data-locale="optionsImportExportTitle") [Import/Export]
  p(data-locale="optionsImportExportDescription") [本機能は全設定データをテキストとして表示・取り込むものです。設定を簡単に持ち運ぶことを目的にしています。]
  p.alert(data-locale="optionsImportExportDescriptionAlert") [取り込みにおいて正しいデータであることを期待しています。]
  table
    tr
      td
        button#command-imp-exp-export(data-locale="optionsImportExportExport") [出力]
      td
        button#command-imp-exp-copy(data-locale="optionsImportExportCopy") [コピー]
    tr
      td(colspan="2")
        textarea#imp-exp-export-area
    tr
      td
      td
        button#command-imp-exp-import(data-locale="optionsImportExportImport") [取り込み]
