
.WE___search-hook-_-_-hidden {
    background: rgba(0.5, 0.5, 0.5, 0.3) !important
}

.WE___search-hook-_-_-hidden > * {
    opacity: 0.5
}

.WE___search-hook-_-_-hidden-item {
    display: none !important;
}

.WE___search-hook-_-_-switch {
    margin: 1em auto;
    display: block;
    clear: both;
    text-align: right;
}

