
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: auto;
}

ul.horizontal, ol.horizontal {
    padding: 0;
}
ul.horizontal > li, ol.horizontal > li {
    display: inline-block;
}

form.setting tfoot.input {
    background: rgba(0, 0, 0, 0.3)
}
form.setting input[type=text] {
    width: 90%;
}

form button[type=submit] {
    width: 80%;
    font-size: 120%;
    font-weight: bold;
    text-align: center;
    margin: 1em auto;
    display: block;
}